*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: tahoma;
}

/* header */
.header {
  display: grid;
  grid-template-columns: 3fr 9fr;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.container {
  width: 90%;
  margin: 0 auto;
}
.logo {
  margin-top: 10px;
}
.logo img {
  width: 130px;
  height: auto;
  cursor: pointer;
}
nav ul {
  list-style: none;
  text-align: right;
}
nav ul li {
  display: inline-block;
  padding-left: 20px;
}
nav ul li a {
  text-decoration: none;
  color: #000;
  transition: all 0.7s;
  padding: 10px;
  border-radius: 5px;
}
nav ul li a:hover {
  color: white;
  background-color: tomato;
}

/* hero */
.hero {
  height: 100vh;
  background: url("../images/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

.hero::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 255, 0.3);
  z-index: -1;
}

.hero-content {
  width: 100%;
  height: 400px;
  text-align: center;
  color: white;
  margin-top: 80px;
}
.hero-content h1 {
  font-size: 120px;
  text-transform: uppercase;
  letter-spacing: 15px;
  font-weight: bolder;
}

.hero-content h3,
.hero-content h4 {
  font-size: 25px;
  text-transform: uppercase;
}

.hero-content button {
  background-color: tomato;
  padding: 10px 40px;
  border-radius: 5px;
  color: white;
  margin-top: 20px;
  font-size: 20px;
  border: 1px solid tomato;
  transition: 0.7s;
  cursor: pointer;
}

.hero-content button:hover {
  background: transparent;
}
